* {      font-family: Arial, Helvetica, sans-serif;

}

body {
        max-width: 90%;
        min-width: 10%;
        max-height: 95%;
        background-color: rgb(222, 222, 225) ;
        margin: auto;       
}
        
header{
        font-family: sans-serif ;
        text-align: center;

}

/*img {
object-fit:contain;
padding: 10%;        
display:block;
margin:auto;
min-width: 10%;
max-width: 80%;
height: auto;
border-radius: 50%;
margin-top: 40px;

}
*/

figcaption {
        margin-top: auto;
        font-size: 200%;
        text-align: center;
        text-decoration: underline;
}
.heading {
        border-radius: 25px;
        
}

.mainHeader {
        background-color: azure;
        border-radius: 25px;
        
        padding:0 ;
        width: 100%;
        margin: auto;
}

h1 {
        font-size: 400% ;
}

/*      
.row {
        margin: 10%;
        display: flex;
      }
           
.col {
        flex:auto;
        padding: 5px;
      }
.love {
        text-align: center;
        font-size: 400%;
        color: red;
}
*/
.gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 16px;
        max-width: 1400px;
        margin: 0 auto;
        padding: 20px 10px;
      }

.gallery img {
        width: 100%;
        max-width: 350px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
      }


footer {
        float:right;
        position: absolute;
        bottom: 0;
        right: 0;
        
}